

body {
    font-family: 'Roboto', sans-serif;
}
.Backgroundvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1050px; /* Set a minimum height of 1050px */
    height: 100vh; /* Set a specific height, for example, 100% of the viewport height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    z-index: -2;
}



#grid_nav_enTete {
    gap: 10px;
}

#grid_nav_enTete_deux {
    gap: 22px;
}

#nav_enTete {
    margin-inline: 5%;
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;

}

.fondnav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-top: -30px;
}

#titre_Accueil {
    margin-inline: 5%;
    font-style: normal;
    margin-top: 8vh;
    font-weight: bold;
}

#titre {
    margin-top: 4vh;
    width: 50%;
}

.fancy {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    box-sizing: border-box;
    color: #ff00b3;
    cursor: pointer;
    display: inline-block;

    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 7vh;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 16px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgb(255, 255, 255);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: rgb(32, 32, 32);
    background: rgb(255, 255, 255);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: rgb(0, 0, 0);
}

.fancy:hover .text {
    color: rgb(0, 0, 0);
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.loader {
    --path: #fff;
    --dot: rgb(255, 0, 179);
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
}

.loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
    display: block;
    width: 100%;
    height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
    width: 48px;
}

.loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(10px, -18px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }

    50% {
        stroke-dashoffset: 128;
    }

    75% {
        stroke-dashoffset: 192;
    }

    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(18px, -18px);
    }

    75% {
        transform: translate(0, -36px);
    }

    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }

    50% {
        stroke-dashoffset: 175;
    }

    75% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 275;
    }
}



.loader {
    display: inline-block;
    margin: 0 16px;

}

#grid_formule_titre {
    margin-top: 16vh !important;
}

.barre {
    width: 1px;
    height: 100%;
    background-color: rgb(255, 0, 212);

}

.offreRapide {
    gap: 25px;
    height: 7vh;
    width: auto;
    
}
#titre_balise {
    font-size: 40px;
    margin-top: 100px;
    color: white;
  
}
#exeption_formule{
    font-size: 20px;
    margin-top: 100px;
    color: white;
   
}
#titre_flex_formule{
    margin-inline: 5%;
}
#fond_formule {
    height: auto;
    padding-bottom: 10vh; 
    margin-top: 70px;
    border-radius: 20px;
    background-color: black !important;
   
    overflow: hidden; /* Empêcher la propagation de la marge */
}
.balise_formule {
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    
    transition:  0.1s ;
}
.ombre_formule{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    height: 20vh;
    width: 100%;
    
}
.balise_formule:hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 65vh;
    width: 30vw;
  
    transition:  0.1s ;
}

#grid_formule{
    margin-inline: 7%;
    margin-top: 4vh;
}
.titre_formule_enfant{
        font-size: 50px;
      margin-inline: 10%;
        margin-top: 5vh;
}
.grid_in_formule{
    margin-top: 6vh;
    gap: 3vh !important;
   
}

.parent_nettoyage{
    margin-inline: 15%;
    height: 50vh;
}

  /* Media query for small screens (sm) */
  @media only screen and (max-width: 1024px) {
    .hamburger {
        cursor: pointer;
      }
      
      .hamburger input {
        display: none;
      }
      
      .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 5em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line-top-bottom {
        stroke-dasharray: 12 63;
      }
      
      .hamburger input:checked + svg {
        transform: rotate(-45deg);
      }
      
      .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
    .test{
        max-width: 200px;
    }
    #exeption_formule{
        font-size: 15px;
        margin-top: 100px;
        color: white;
       
    }
    #titre_balise {
        font-size: 25px;
        margin-top: 100px;
        color: white;
    }
    #titre_flex_formule{
        margin-inline: 5%;
        gap:10vw;
    }
    .Titre_nettoyage{
         font-size: 10vw;
    }
    #titre {
        margin-top: -50px !important;
        width: 90%;
        font-size: 50px;
    }
    #titre2 {
        margin-top: -26px !important;
        padding-bottom: 6vh;
        text-align: center;
        font-size: 30px;
        margin-inline: 15vw;
    }
    .grid_deux_entete{
        display: none !important;
    }

      
  }
  
  .Titre_nettoyage{
    margin-top: 28vh;
}
.form-container {
    width:  600px;
  
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
   
    font-size: 20px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #ffffff;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #000000;
    border: 1px solid #ffffff;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  

  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a1a1a;
    padding: 30px;
    border: 1px #ff00b8 solid;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 600px) {

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #000000;
    padding: 30px;
    border: 1px #ff00b8 solid;
    width: 100vw;
    border-radius: 0px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #ffffff;
    font-weight: 600;
  }
  
  .inputForm {
    border: 2.23px solid #424242;
    border-radius: 10px;
    height: 50px;
    display: flex;
    background-color: white;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #3d3d3d !important;
    transition:1s;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #747575 ;
    transition:1s;
  }
  
  .p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  
  .containerr {
    width: 100%;
    height: 100%;
  
    background: #101010;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
  }
  .card {
    
    height: 35vh;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .icon svg {
    fill: white;
  }
  
  .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    height: 30vh;
  }
  
  .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
  .card:hover .icon svg path {
    fill: url('#gradientColor');
    transition: all 0.3s ease;
  }

  .containe {
    margin-top: 6vh;
    margin-left: 4vw;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #CB0000;
    background-image: linear-gradient(#CB0000, #FFC700, #c79c00);
  }
  
  .containe span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #cb0000;
    background-image: linear-gradient(#ff0000, #ffc800, #ffc800);
  }
  
  .containe span:nth-of-type(1) {
    filter: blur(3px);
  }
  
  .containe span:nth-of-type(2) {
    filter: blur(3px);
  }
  
  .containe span:nth-of-type(3) {
    filter: blur(3px);
  }
  
  .containe span:nth-of-type(4) {
    filter: blur(3px);
  }
  
  .containe::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #1f1f1f;
    border: solid 5px #1f1f1f;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .pl {
    display: block;
    width: 5.375em;
    height: 9.375em;
  }
  
  .pl__arrows,
  .pl__ring-rotate,
  .pl__ring-stroke,
  .pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .pl__ring-rotate,
  .pl__ring-stroke {
    transform-origin: 80px 80px;
  }
  
  .pl__ring-rotate {
    animation-name: ringRotate42;
  }
  
  .pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }
  
  .pl__tick {
    animation-name: tick42;
  }
  
  .pl__tick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .pl__tick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .pl__tick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .pl__tick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .pl__tick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .pl__tick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .pl__tick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  /* Animations */
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
  
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes ringStroke42 {
    from,
    to {
      stroke-dashoffset: 452;
      transform: rotate(-45deg);
    }
  
    50% {
      stroke-dashoffset: 169.5;
      transform: rotate(-180deg);
    }
  }
  
  @keyframes tick42 {
    from,
    3%,
    47%,
    to {
      stroke-dashoffset: -12;
    }
  
    14%,
    36% {
      stroke-dashoffset: 0;
    }
  }